<% idrand = Array.new(9){rand 10}.join %>

<audio src="<%= audio_en %>" id="audio_<%= idrand %>"></audio>

<div class="row">
  <div class="col-1">
    <strong class="" id="play_<%= idrand %>" onclick="play('<%= idrand %>')">▶</strong>
  </div>
  <div class="col-5">
    <%= text_en %>
  </div>
  <div class="col-4">
    <%= text_vn %>
  </div>
</div>
    
<hr />
    
    
    
<%#
// from here: https://stackoverflow.com/questions/18826147/javascript-audio-play-on-click
%>